@model IEnumerable<SEA_System.Models.Mesa>
@using SEA_System.Models;

@{
    Mesas selectedmodel = ViewBag.selected;
}

<h1>MesasContadas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel._id)
            </th>
            <th>
                @Html.DisplayNameFor(selectedselectedmodel => selectedselectedmodel.DEPARTAMENTO)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.ID_DEPARTAMENTO)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.MUNICIPIO)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.ID_MUNICIPIO)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.CENTRO_DE_VOTACION)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.PADRON)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.UNE)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.AZUL)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.VALOR)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.CABAL)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.TODOS)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.VAMOS)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.PHG)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.PR)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.PIN)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.ELEFANTE)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.VICTORIA)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.SEMILLA)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.FCN)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.PPN)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.CONTABILIZADA)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.CODIGO_INTEGRIDAD)
            </th>
            <th>
                @Html.DisplayNameFor(selectedmodel => selectedmodel.DIGITALIZACION)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in selectedmodel.mesas) {
        <tr>
            <td>
                @Html.DisplayFor(selectedmodelItem => item._id)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.DEPARTAMENTO)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.ID_DEPARTAMENTO)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.MUNICIPIO)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.ID_MUNICIPIO)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.CENTRO_DE_VOTACION)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.PADRON)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.UNE)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.AZUL)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.VALOR)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.CABAL)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.TODOS)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.VAMOS)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.PHG)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.PR)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.PIN)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.ELEFANTE)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.VICTORIA)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.SEMILLA)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.FCN)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.PPN)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.CONTABILIZADA)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.CODIGO_INTEGRIDAD)
            </td>
            <td>
                @Html.DisplayFor(selectedmodelItem => item.DIGITALIZACION)
            </td>
        </tr>
}
    </tbody>
</table>
